.service-info{
    border-right: 1px dotted gray;
}

.service button{
    background-color: white;
    border: none;
    padding: 5px 10px;
}
.service button:hover{
    background-color: #157575  ;
    color: white;
    transform: scale(1.05);
    transition: transform 1s ease-in-out;
}

.service-img{
    overflow: hidden;
}
.service img{
    width: 80%%;
    transition: 0.8s all ease-in-out;
}

.service img:hover{
    transform: scale(1.1);
}