.doctor-page{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doctors{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin: 20px;
}

.doctors div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doctors img{
    width: 70%;
    border-radius: 50px;
}

@media screen and (max-width: 600px){
    .doctors{
       display: flex;
       flex-direction: column;
    }
   
}