.our-service{
    display: grid;
    grid-template-columns: 1fr 2fr;
    place-content: center;
}

.services{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 20px;
    grid-column-gap: 5px;
}


@media screen and (max-width: 600px){
   .our-service{
       text-align: center;
    grid-template-columns: 1fr;
   }
    .services{
        grid-template-columns: 1fr;
}

}