.footer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    color: white;
}

.footer div{
    display: grid;
    place-content: center;
}

.footer div li{
    font-size: 12px;
    list-style:none;
    color: white;
}

.follow-us{

}

.social-icon i{
    display: flex;
    font-size: 12px;
    padding: 3px;
}

@media screen and (max-width: 600px) {
    .footer{
        grid-template-columns: 1fr;
    }
    .footer div {
        margin: 10px 0px;
    }
}